@{
    ViewBag.Title = "附件管理-详情";
    Layout = "~/Views/Shared/_Detail.cshtml";
}
@model Learun.Application.TwoDevelopment.SYS_Code.Sys_AccessoriesEntity 
<div class="form-button-top" id="wizard-actions">
     <div class="btn-group">
         <a id="lr-reload" class="btn btn-default"><i class="fa fa-refresh"></i>&nbsp;刷新</a>
         <a id="lr-print" class="btn btn-default"><i class="fa fa-print"></i>&nbsp;打印</a>
     </div>
</div>
<p class="print-line"></p>
<div class="table-c gridPanel" id="gridPanel">
     <div class="table-c">
          <table border="0" cellspacing="0" cellpadding="0">
               <tr>
                    <th width="15%">记录编码</th>
                    <td width="35%"> @Model.ID </td>
                    <th width="15%">物理文件名</th>
                    <td width="35%"> @Model.PhyFileName </td>
               </tr>
               <tr>
                    <th width="15%">系统文件名</th>
                    <td width="35%"> @Model.SysFileName </td>
                    <th width="15%">附件编码</th>
                    <td width="35%"> @Model.OperationCode </td>
               </tr>
               <tr>
                    <th width="15%">业务编码</th>
                    <td width="35%"> @Model.OperationID </td>
                    <th width="15%">文件大小</th>
                    <td width="35%"> @Model.FileSizeText </td>
               </tr>
               <tr>
                    <th width="15%">创建时间</th>
                    <td width="35%"> @Model.CreateTime </td>
                    <th width="15%">创建人</th>
                    <td width="35%"> @Model.CreatePerson </td>
               </tr>
               <tr>
                    <th width="15%">状态</th>
                    <td width="35%"> @Model.State </td>
                    <th width="15%">文件类型</th>
                    <td width="35%"> @Model.FileType </td>
               </tr>
               <tr>
                    <th width="15%">保存路径</th>
                    <td width="35%"> @Model.SavePath </td>
                    <th width="15%">备注</th>
                    <td width="35%"> @Model.Remark </td>
               </tr>
          </table>
     </div>
</div>
@Html.AppendJsFile("/Areas/SYS_Code/Views/Sys_Accessories/Detail.js")
